<!DOCTYPE html>
<html>
<head>
  <title>R20130213MomaRails</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <%= link_to('Artists', artists_path) %> |
    <%= link_to('(New Artist)', new_artist_path) %> |
    <%= link_to('Paintings', paintings_path) %> |
    <%= link_to('(New Paintings)', new_painting_path) %>
    <br>
    <br>
  </nav>
<%= yield %>

</body>
</html>
